<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381533652556-c62ba0vglqokao07vt8f68qofi7e3v8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381533652556-c62ba0vglqokao07vt8f68qofi7e3v8d</string>
	<key>API_KEY</key>
	<string>AIzaSyCOiMWgDQfdPwl9V81p1tE6Tv54WA6yrF0</string>
	<key>GCM_SENDER_ID</key>
	<string>381533652556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xz.HappyClients</string>
	<key>PROJECT_ID</key>
	<string>se-happyclients</string>
	<key>STORAGE_BUCKET</key>
	<string>se-happyclients.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381533652556:ios:797aa76dbf8b9d805c16e9</string>
</dict>
</plist>